<div id="login_box">
		<h2>Simple <span>Project Tracking</span> Login</h2>
		<%= form_tag("attempt_login") do %>
		<div>
			<div>
				<%= label_tag(:username, nil, :hidden => true) %>
				<%= text_field_tag(:username) %>
			</div>
			<div>
				<%= label_tag(:pw, nil, :hidden => true) %>
				<%= password_field_tag(:pw) %>
			</div>
			<%= submit_tag("Sign in", :class => "btn danger") %>
		<% end %>
			<div id="bottom">
			<small>Forgot your password?</small>
			<small id="not_a_member">Not a member? <%= link_to("Register!", :action => "new", :controller => "users") %></small>
		</div>
	</div>
